@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
@model IEnumerable<RespiteClinic.Models.DTO.Historial_clinico>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_paciente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.historial_enfermedades)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.motivo_consulta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diagnostico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tratamiento)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_paciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.historial_enfermedades)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.motivo_consulta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.diagnostico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tratamiento)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
