@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}


@model IEnumerable<RespiteClinic.Models.DTO.Citas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.id_personal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_historial_clinico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_hora)
        </th>
        <th>
            accion
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.id_personal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_historial_clinico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <th>
                @Html.DisplayNameFor(model => model.fecha_hora)
            </th>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
